body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

Form {
  margin-top: 10px;
  margin-bottom: -8px;
}

.ui.grid>.column:not(.row) {
  padding-top: 0;
  padding-bottom: 5px;
}

label {
  margin-left: 5px;
}

.ui.centered.grid {
  padding-top: 5px;
}
